body {
    background-color:#FEFEFA;
   }
  
.navbar-custom {
    background-color: #1E3344 !important; 
  }
  
  .navbar-custom .navbar-nav .nav-link {
    color: #FEFEFA;
  }

  .navbar-custom .navbar-brand  {
    color: #FEFEFA ;
  }
  
  .navbar-custom .navbar-nav .nav-link.active,
  .navbar-custom .navbar-nav .nav-link:hover {
    color: #9098a2;
  }
    
  h1 {
    color: #A776A5;
    
  }

  .p1 {
    font-size: 17px;
  }

  .p2 {
    font-size: 17px;
    color: #1E3344;
    font-weight: bold;

  }

  .p3 {
    font-size: 17px;
    color: #F9BACF;
  }

  .p4 {
    font-size: 17px;
    color: #DBC7A6;
  }

  .p5 {
    font-size: 17px;
    color: #CDB59B;
  }

  .p6 {
    font-size: 17px;
    color: #7A7677;
  }

  .p7 {
    font-size: 17px;
    color: #994051;
  }
  .p8 {
    font-size: 17px;
    color: #ACA3A6;
  }
  .p9 {
    font-size: 17px;
    color: #8BDFFF;
  }
  .p10 {
    font-size: 17px;
    color: #3B6586;
  }

  .taylor-swift-link {
    color: #A776A5;
  }

  .text-link {
    color: #A776A5;
  }

  .texto2 {
    font-size: 25px;
    color: #A776A5;
  }

  .subscription-section {
    background-color: #f8f9fa;
    padding: 50px 0;
  }
  
  .subscription-section h2 {
    margin-bottom: 25px;
  }
  
  .subscription-section form {
    max-width: 900px; 
  }
  
  .subscription-section input[type="email"], 
  .subscription-section input[type="text"], 
  .subscription-section input[type="tel"] {
    flex: 1; 
    margin: 5px; 
    min-width: 140px; 
  }
  
  .btnSus {
    margin: 5px;
    background-color:#A776A5;
    color: #ffffff;

  }

  .p13 {
    color: #A776A5;
    font-size: 17px;

  }

  #detalles-concierto .card {
    max-width: 500px; 
}

.table {
  width: 90%; 
  margin: auto; 
}

.table thead th {
  background-color: #A776A5; 
  color: white; 
}

